@model ResetPasswordViewModel

<!doctype html>
<html lang="es">
<head>
    <title>Entra</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0 !important;
            padding: 0 !important;
            font-family: 'Roboto', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
        }

        header {
            background-color: #424242;
            color: #8bc34a;
        }

        h1 {
            margin: 0;
            padding: 0.67em;
            font-weight: 400;
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            flex-grow: 1;
        }

        .main-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            flex-grow: 1;
        }

        p {
            margin-left: 1em;
        }
    </style>
</head>
<body>
    <header>
        <h1>ENTRA App - Confirmación restablecer Contaseña</h1>
    </header>
    <main>
        <div class="main-container">
            <p> @Html.DisplayFor(model => model.Result)</p>
        </div>
    </main>
</body>
</html>
